.comment {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: rgb(246, 251, 251);
    padding: 3px;
    border-radius: 9px;
    
}
.comment-cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment-image-container img{

    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
.comment-content{
    display: flex;
}
